shell = 'zsh'

[plugins.zsh-defer]
github = 'romkatv/zsh-defer'

[templates]
defer = "{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}"

[plugins.LS_COLORS]
github = 'trapd00r/LS_COLORS'
apply = ['defer']

[plugins.fast-syntax-highlighting]
github = 'zdharma-continuum/fast-syntax-highlighting'
apply = ['defer']

[plugins.zsh-autosuggestions]
github = 'zsh-users/zsh-autosuggestions'
apply = ['defer']

[plugins.zsh-completions]
github = 'zsh-users/zsh-completions'
apply = ['defer']

[plugins.zsh-autopair]
github = 'hlissner/zsh-autopair'
apply = ['defer']

# [plugins.zsh-vi-mode]
# github = 'jeffreytse/zsh-vi-mode'
# apply = ['defer']

[plugins.anyframe]
github = 'blooper05/anyframe'
apply = ['defer']

[plugins.git-cococo]
github = 'blooper05/git-cococo'
dir = 'exe'
use = ['git-cococo']
apply = ['defer', 'PATH']

[plugins.bashcompinit]
inline = 'autoload -Uz bashcompinit && zsh-defer bashcompinit'

[plugins.compinit]
inline = 'autoload -Uz compinit && zsh-defer compinit'

[plugins.argocd-completions]
inline = '''
  function _argocd() {
    unfunction "$0"
    source <(argocd completion zsh)
    $0 "$@"
  }
  zsh-defer _argocd
'''

[plugins.aws-completions]
inline = '''
  function _aws() {
    unfunction "$0"
    complete -C aws_completer aws
    $0 "$@"
  }
  zsh-defer _aws
'''

[plugins.gh-completions]
inline = '''
  function _gh() {
    unfunction "$0"
    eval "$(gh completion --shell zsh)"
    $0 "$@"
  }
  zsh-defer compdef _gh gh
'''

[plugins.helm-completions]
inline = '''
  function _helm() {
    unfunction "$0"
    source <(helm completion zsh)
    $0 "$@"
  }
  zsh-defer _helm
'''

[plugins.helm-diff-completions]
inline = '''
  function _diff() {
    unfunction "$0"
    eval "$(helm-diff completion zsh)"
    $0 "$@"
  }
  zsh-defer compdef _diff helm-diff
'''

[plugins.k6-completions]
inline = '''
  function _k6() {
    unfunction "$0"
    eval "$(k6 completion zsh)"
    $0 "$@"
  }
  zsh-defer compdef _k6 k6
'''

[plugins.kubectl-completions]
inline = '''
  function _kubectl() {
    unfunction "$0"
    source <(kubectl completion zsh)
    $0 "$@"
  }
  zsh-defer _kubectl
'''

[plugins.op-completions]
inline = '''
  function _op() {
    unfunction "$0"
    eval "$(op completion zsh)"
    $0 "$@"
  }
  zsh-defer compdef _op op
'''

[plugins.packer-completions]
inline = '''
  function _packer() {
    unfunction "$0"
    complete -C packer packer
    $0 "$@"
  }
  zsh-defer _packer
'''

[plugins.terraform-completions]
inline = '''
  function _terraform() {
    unfunction "$0"
    complete -C terraform terraform
    $0 "$@"
  }
  zsh-defer _terraform
'''

[plugins.terraform-docs-completions]
inline = '''
  function _terraform-docs() {
    unfunction "$0"
    eval "$(terraform-docs completion zsh)"
    $0 "$@"
  }
  zsh-defer compdef _terraform-docs terraform-docs
'''

[plugins.trivy-completions]
inline = '''
  function _trivy() {
    unfunction "$0"
    source <(trivy completion zsh)
    $0 "$@"
  }
  zsh-defer _trivy
'''
